@import "../styles/variables/index.scss";
.footer {
  padding: $padding-container;
  min-height: 50px;
  margin-top: auto;

  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;

  &__inner {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 2px solid $primary-100;
  }

  &__copyright {
    font-size: 14px;
    font-weight: 400;
    color: $gray-400;
    text-align: center;
  }
}
