// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// a {
//   text-decoration: none;
//   color: inherit;
// }
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: $primary;
  color: $neutral-light;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  overflow-wrap: break-word;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.element-scroll::-webkit-scrollbar {
  width: 2.5px;
  height: 2.5px;
}

.element-scroll::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 2.5px;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    padding: 0 24px;
  }
}

// MAIN
.main {
  display: flex;
  gap: 30px;
  min-height: 100vh;
  padding-top: 70px;
}
